@import url("https://fonts.googleapis.com/css?family=Oswald:300,500");

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.card {
  position: relative;
  width: 40%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35);
  cursor: default;
}

.card:nth-child(even) {
  margin-left: 5rem;
  margin-top: 5rem;
}

.card:nth-child(odd) {
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  border: 1px solid white;
}

.card::before {
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
}

.card::after {
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

.card__img {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card__body {
  color: white;
  padding: 3rem;
}

.card__title,
.card__text {
  margin: 0;
}

.card__title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 1;
  color: black;
}

.card__title::before {
  content: "";
  position: absolute;
  background: yellow;
  width: calc(100% + 5rem);
  top: -0.1em;
  bottom: -0.15em;
  left: -5rem;
  z-index: -1;
  box-shadow: inset -15px 0 10px -10px rgba(0, 0, 0, 0.5);
}

.card__title::after {
  content: "";
  position: absolute;
  top: -0.1em;
  bottom: -0.15em;
  left: calc(100% + 3rem);
  width: 3rem;
  background: yellow;
  box-shadow: inset 12px 0 10px -10px rgba(0, 0, 0, 0.5);
}

.card__text {
  text-align: right;
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  background: yellow;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    color: white;
    background: rgba(255, 255, 0, 0.5);
  }
}

.wb-body {
  background: black;
}

.wb-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.hide {
  display: none;
}

.content-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  color: whitesmoke;
  text-align: center;
}

.content-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #ff00f0, #0050ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 2rem;
  text-align: center;
}
